/*
 * LLMUI Core v0.5.0 - FAB Components
 * Author: Francois Chalut
 * Website: https://llmui.org
 * 
 * Les boutons FAB sont maintenant intégrés dans la status-bar (voir chat.css)
 * Ce fichier est conservé pour compatibilité mais n'est plus utilisé
 */
